@import '../../shared/vars.scss';

.todo-panel-wrapper {
  flex: 0 1 0px;
  
  &.create-category {
    opacity: 0.65;
  }
  .todo-panel {
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 0 4px rgba(black, .2);
    
    width: 100%;
    form.panel-section {
      display: block;
    }
    .panel-section {
            width: 100%;
      padding: 1em 2.5em;
      &.todo-form {
        border-top: 2px solid $fourth-color;
        border-bottom: 2px solid $fourth-color;
      }
    }

    h2, input.input-category-name {
      margin: 0;
      font-family: 'Source Sans Pro';
      color: $sixth-color;
      font-size: 2.1rem;
    }
    input.input-category-name {
      max-width: 100%;
      border: none;
    }
    .separator {
      cursor: pointer;
      position: relative;
      width: fit-content;
      font-size: 0.75em;
      margin: 0 auto;
      color: $fourth-color;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      svg {
        margin-top: -6px;
      }
      &:after {
        content: '';
        position: absolute;
        left: calc(-200% - 2em);
        top: 50%;
        
        width: 200%;
        height: 1px;
        border-top: 1px solid $fourth-color;

        pointer-events: none;
      }
      &:before {
        content: '';
        position: absolute;
        right: calc(-200% - 2em);
        top: 50%;

        width: 200%;
        height: 1px;
        border-top: 1px solid $fourth-color;

        pointer-events: none;
      }
    }
    ul.todo-list{
      list-style: none;
      padding: 0;
      li {
        margin: 2em 0;
        // min-height: 3em;
      }
    }
  }
}