.todo {
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  p {
    margin: auto 0;
    display: inline-block;
  }

  .settings {
    cursor: pointer;
    margin: auto;
    padding: 0 9px;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
  }
}

