@import '../../shared/vars.scss';

.todo {
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-gap: 1em;
  p {
    margin: auto 0;
    display: inline-block;

    font-size: 0.9em;
    word-break: normal;
    hyphens: auto;
    &.done {
      text-decoration: line-through;
    }
  }

  .settings {
    cursor: pointer;
    color: $dark-color;
  }
  section.todo-section {
    &:nth-child(1) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &:nth-child(2) {
      display: flex;
      align-items: center;
    }
    &:nth-child(3) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}