.todo {
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 1em;
  p {
    margin: auto 0;
    display: inline-block;

    word-break: normal;
    hyphens: auto;
  }

  .settings {
    cursor: pointer;
  }
  section.todo-section {
    &:nth-child(1) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &:nth-child(2) {
      display: flex;
      align-items: center;
    }
    &:nth-child(3) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}