:root {
  --main-bg-color: #E08DAC;
  --main-green: #45CB85;
  --main-black: #454545;

  --nav-width: 50px;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

#root {
  height: 100%;
  color: var(--main-black);
}
* {
  box-sizing: border-box;
}
.App {
  position: absolute;
}
nav {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: var(--nav-width);

  background: var(--main-black);
  box-shadow: 2px 0 9px rgba(0,0,0, 0.2);

}

header {
  position: fixed;
  right: 3em;
  top: 1em;

  opacity: 0.3;
}
header h1 {
  margin: 0;
}
.main-background {
  position: absolute;
  left: var(--nav-width);
  top: 0;
  z-index: -10;
}

main {
  margin-left: calc(var(--nav-width) + 4em);
  margin-top: 8em;
  display: flex;
}

.todo-panel {
  background-color: #EEE;
  border-radius: 14px;
  padding: 1em;
  margin: 0 1em;

  min-width: 20em;
}

.todo-panel h2 {
  margin: 0 0 1.25em 0;
}

.todo-panel ul {
  list-style: none;
  padding: 0;
}

.todo {
  background-color: #FFF;
  border-radius: 10px;
  padding: 0.75em 0.5em;
  margin: 1em 0;
  /* font-size: 18px; */
}

.checkbox-wrapper {
  width: 1.25em;
  display: inline-block;
}

.todo p {
  margin: 0 8px;
  display: inline-block;
}
input[name='description'] {
  background: transparent;
  border: none;
  font-size: 1em;
  padding: 4px;
}
input[type='checkbox'] {
  /* border-radius: 50% !important; */
}