:root {
  --main-bg-color: #E08DAC;
  --main-green: #45CB85;
  --main-black: #153131;

  --settings-x: 0px;
  --settings-y: 0px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}
h1 {
  margin: 0;
  padding-top: 6%;
  font-size: 4em;
  color: var(--main-black);
}
#root {
  height: 100%;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
}
.todosContainer {
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px -12px var(--main-black);
  border-top: 8px solid var(--main-black);
  min-width: 40vw;
}
.todosContainer>h2 {
  text-align: left;
  margin: 8px;
}
.todosContainer>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.todosContainer>ul>li {
  position: relative;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.todosContainer>ul>li>.first-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todosContainer>ul>li+li {
  border-top: 2px solid rgba(0,0,0, 0.3);
}
p {
  margin: 8px 3em;
  display: inline;
  text-align: left;
  font-size: 1.5em;
}
.settings {
  font-size: 2em;
  margin: 8px;
  transform: translateY(-0.3em);
  cursor: pointer;
  user-select: none;
}
input.check {
  width: 2em;
  height: 2em;
  margin: 8px;
}
form {
  width: 100%;
}
input[name='description'] {
  border: none;
  width: calc(100% - 3.5rem);
  height: 3rem;
  font-size: 2rem;
  outline: none;
}
button.add {
  font-size: 1.4em;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--main-green);
  color: white;
  border: none;
  display: none;
}
.settings-field {
  width: 100%;
  height: 120px;
  background: blue;

  transition: 0.6s height, 0.3s color ease-in, 0.6s opacity;
}
.settings-field>ul {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.settings-field--hide {
  height: 0;
  color: transparent;
  opacity: 0;
}
.settings-field--expand {
  height: 120px;
}