:root {
  --main-bg-color: #E08DAC;
  --main-green: #45CB85;
  --main-black: #454545;

  --nav-width: 50px;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
}

#root {
  height: 100%;
  color: var(--main-black);
}
* {
  box-sizing: border-box;
}