@import '../../../../../shared/vars.scss';

form {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-gap: 1em;
  color: $fourth-color;
  input[name='description'] {
    background: transparent;
    padding: 4px 0;
    border: none;

    font-size: 1.05em;
    font-family: 'Open Sans';
    &::placeholder {
      color: $fourth-color;
    }
    &:focus {
      outline-width: 0;
    }
  }
  .add-icon-wrapper {
    align-self: center;
    width: 1.7em;
    height: 1.7em;
    transform: scale(1.25);
    svg {
      width: 100%;
      height: auto;
      color: $fourth-color;
    }
  }
}