.todo-panel {
  background-color: #fff;
  border-radius: 14px;
  padding: 1.5em 2em;

  width: 100%;
}
.todo-panel h2 {
  margin: 0 0 1.25em 0;
}

.todo-panel ul {
  list-style: none;
  padding: 0;
}
.todo-panel-wrapper {
  flex: 0 1 0px;
  
  display: flex;
  justify-content: center;
}