.todo-panel {
  background-color: #EEE;
  border-radius: 14px;
  padding: 1em;
  margin: 2.5rem 1.5rem;

  min-width: 20em;

  flex: 1 1 0px;
}
.todo-panel h2 {
  margin: 0 0 1.25em 0;
}

.todo-panel ul {
  list-style: none;
  padding: 0;
}