.todo-panel {
  background-color: #EEE;
  border-radius: 14px;
  padding: 1em;
  margin: 0 1em;

  min-width: 20em;
}

.todo-panel h2 {
  margin: 0 0 1.25em 0;
}

.todo-panel ul {
  list-style: none;
  padding: 0;
}
