.App {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 4em 1fr;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  min-height: 100%;
  // max-width: 100%;
  background: linear-gradient(to top right , #adc, #e31);
  overflow-y: scroll;
}