@import '../../shared/vars.scss';

.App {
  position: relative;
  width: 100vw;
}

.container {
  background: linear-gradient(-45deg, $third-color, $second-color);
  overflow-y: scroll;
}

main {
  margin: 5em 7em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
}