.App {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 4em 1fr;
}

.container {
    background: linear-gradient(to top right , #adc, #e31);
    overflow-y: scroll;
}
main {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 2em;
  min-height: 100%;
}