@import '../../shared/vars.scss';

form {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 1em;
  color: $fourth-color;
  input[name='description'] {
    background: transparent;
    padding: 4px;
    border: none;

    font-size: 1.15em;
    font-family: 'Open Sans';

    &:focus {
      outline-width: 0;
    }
  }
  .add-icon-wrapper {
    width: 2em;
    height: 2em;
    transform: scale(1.25);
    svg {
      width: 100%;
      height: auto;
      color: $fourth-color;
    }
  }
}