@import '../../shared/vars.scss';

.App {
  position: relative;
  width: 100vw;
}

.container {
  // background: linear-gradient(-45deg, $third-color, $second-color);
  overflow-y: scroll;
  min-height: 100vh;
  background-image: url('./background.png');
  background-repeat: repeat-y;
  background-position-y: -30vh;
  background-size: 100%;
}

main {
  margin: 5em 7em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3.25em;
}