@import '../../shared/vars.scss';

.checkbox-wrapper {
  width: 2em;
  height: 2em;
  svg {
    width: 100%;
    height: auto;
  }
  .checked {
    color: $sixth-color;
  }
  .unchecked {
    color: $fourth-color;
  }
}